html, body{
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}
.header{
    position: fixed;
    width: 100%;
    height: 48px;
    background-color: rgb(24, 22, 39);
    z-index: 10;
}
.content{
    padding-top: 48px; 
    height: 100%;
}
.center{
    text-align: center;
}
.container{
    padding-top: 20px; 
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(206, 202, 202);
    height: 100%;
    border-left: solid 50px rgb(238, 237, 237);    
    border-right: solid 50px rgb(214, 214, 214);
    border-bottom: solid 50px rgb(177, 176, 176);
    
}
#tags{
    color: black;
}

